.vs
HVexTransformer.Api/bin
HVexTransformer.Api/obj
HVexTransformer.Domain/bin
HVexTransformer.Domain/obj
HVexTransformer.CrossCutting/bin
HVexTransformer.CrossCutting/obj
HVexTransformer.Infra/bin
HVexTransformer.Infra/obj
HVexTransformer.Application/bin
HVexTransformer.Application/obj